
table{
    width: 100%;
    border: 1px black solid;
}
td{
    border: 1px black solid;
}
ul{
    list-style-type: none;

}
li{
    float: left;
}
li{
    display: inline-block;
}

#holis{
    border: 1px black solid;
    margin-top: 0;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 220px;
    gap: 30px;
}